.smaller-input {
    width: 18.3vw;
    height: 35px;
    border: .7px solid grey;
    box-sizing: border-box;
    border-radius: .3rem;
    padding: 0 .4rem;
}

label {
    font-size: 15px;
    font-weight: normal;
    /* background-color: lightblue; */
    align-self: flex-start;
}

.box-input-smaller{
    display: flex;
    flex-direction: column;
    /* background-color: khaki; */
    width:40vh;
    justify-content: space-between;
    height: 11vh;
    align-items: flex-start;
    
}

.input-duplo{
    display: flex;
    justify-content: space-between;
}