.button {
    width: 170px;
    height: 60px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn input {
    background-color: #ED1F24;
    color: white;
}