* {
    margin: 0;
    padding: 0;
}

.body {
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
}

.circular {
    height: 100px;
    width: 100px;
    margin-left: -70%;
    position: relative;
}

.circular .inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    margin: -35px 0 0 -35px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.circular .numb {
    position: absolute;
    top: 40%;
    left: 38%;
    transform: none;
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #4158d0;
}

.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: gray;
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0px, 500px, 100px, 50px);
    background: #4158d0;
}

.circle .left .progress {
    z-index: 1;
    animation: left 2s linear both;
}

@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}

.circle .right {
    z-index: 3;
    transform: rotate(180deg);
}

.circle .right .progress {
    animation: right 1s linear both;
    animation-delay: 1s;
}

@keyframes right {
    100% {
        transform: rotate(0);
    }
}