input {
    width: 40vw;
    height: 35px;
    border: .1rem solid lightslategrey;
    box-sizing: border-box;
    border-radius: .3rem;
    padding: 0 .4rem;
}

label {
    font-size: 15px;
    font-weight: normal;
    margin: .5rem 0;
    align-self: flex-start;
}

.imagem-candidato{
  width: 10vw;
}

.box-input{
    display: flex;
    flex-direction: column;
    /* background-color: hotpink; */
    align-items: center;
    width: 40vw;
    height: 12vh;
    margin-bottom: 1rem;
}

.box-group-radio{
    display: flex;
}