.card{
    border: solid;
    height: 300px;
    width: 200px;
    border-width: 1px;
}

.centralizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}