.conteudo1 {
    border: 1px solid #dcdcdc;
    width: 400px;
    height: 260px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #dcdcdc;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.divhf4 img {
    width: 60%;
}

.gc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 19%;
}