.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slogan{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.botao-slogan{
    display: flex;
    justify-content: space-around;

}

.slogan img{
    height: 300px;
}

.texto-slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.texto-slogan h1{
    display: flex;
    justify-content: center;
}

.home .button{
    background-color: #ED1F24;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
